**/ppo_models/*
**/tensorboard/
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/
rl_env/
*.log

# unignoring the two shipped policies inside get_to_point
!get_to_point/ppo_models/ppo_drone_landing_v21_best.zip
!get_to_point/ppo_models/ppo_drone_landing_v21_best_vecnormalize.pkl
!get_to_point/ppo_models/ppo_drone_landing_v21.zip
!get_to_point/ppo_models/ppo_drone_landing_v21_vecnormalize.pkl

# unignoring the two shipped policies inside hover
!hover/ppo_models/
!hover/ppo_models/ppo_drone_landing_v13_best.zip
!hover/ppo_models/ppo_drone_landing_v13_best_vecnormalize.pkl
!hover/ppo_models/ppo_drone_landing_v13.zip
!hover/ppo_models/ppo_drone_landing_v13_vecnormalize.pkl